@using Neutrino.Pictoris.Drawing;

@{
    int[] n = new int[] { 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950 };
}
<style>
    .swatch {
        box-sizing: border-box;
        width: 96px;
        height: 96px;
        font-size: 11px;
        border: solid 1px black;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        overflow: hidden;
        text-align: center;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .swatch div {
            overflow: hidden;
            width: 100%;
        }
</style>

<div class="page-header">
    <h1 class="neu-display">Colors</h1>
</div>
<div class="page-tabs">
    <div>&nbsp;</div>
</div>
<div class="page-content">
    <h1 class="neu-title1">
        Shared colors
    </h1>
    <p class="neu-body1">
        Основные цвета используемые в приложении
    </p>

    @foreach(var colorName in Colors.GetColorNames())
    {
        <br />
        <br />
        <h4 class="neu-subtitle1">
            @colorName
        </h4>
        ColorF baseColor = ColorF.Parse(Colors.GetColor(colorName));
        @for (int index = -5; index <= 5; index++)
    {
        ColorF result;
        if(index < 0)
        {
            result = baseColor.Shade(1f - (6f + index) / 6f);
        }
        else if(index > 0)
        {
            result = baseColor.Tint(index / 6f);
        }
        else
        {
            result = baseColor;
        }
        var hexColor = result.ToString("hex"); 
        var color = result.ToString("rgb"); 
        ColorF backgroundColor = result; 
        float whiteOnBackground = ContrastCalculator.GetContrast(ColorF.White, backgroundColor);
        float blackOnBackground = ContrastCalculator.GetContrast(ColorF.Black, backgroundColor);
        string foreColor;
        if(MathF.Abs(whiteOnBackground) > MathF.Abs(blackOnBackground))
        {
            foreColor = "white";
        }
        else
        {
            foreColor = "black";
        }
        string margin = index == 0 ? "margin:8px;border:4px solid rgb(0,0,0,0.5);" : "";
        <div class="swatch" style="background-color:@color;color:@foreColor;@margin">
            <div>
                @color.Substring(3)<br />@hexColor
            </div>
        </div>
        string name = $"{colorName}-{n[index + 5]}";
        Console.WriteLine($"--color-{name.ToLower()}: {hexColor};");
    }
    Console.WriteLine();
    }
    @{
        ColorF blueColor = ColorF.Parse(Colors.Blue);
        ColorF[] lightPalette = blueColor.Wheel(12); 
        ColorF[] darkPalette = blueColor.GetPalette(20);
        ColorF[] greyPalette = ColorF.FromRGB(0.5f, 0.5f, 0.5f).GetPalette(20);
    }
    <h1 class="neu-title1">
        Колесо цветов
    </h1>
    @for (int i = 0; i < lightPalette.Length; ++i)
    {
        ColorF result = lightPalette[i];
        float whiteOnBackground = ContrastCalculator.GetContrast(ColorF.White, result);
        float blackOnBackground = ContrastCalculator.GetContrast(ColorF.Black, result);
        var hexColor = result.ToString("hex");
        var color = result.ToString("rgb");
        string foreColor;
        if (MathF.Abs(whiteOnBackground) > MathF.Abs(blackOnBackground))
        {
            foreColor = "white";
        }
        else
        {
            foreColor = "black";
        }
        <div class="swatch" style="background-color:@color;color:@foreColor;">
            <div>
                @color.Substring(3)<br />@hexColor
            </div>
        </div>
    }
    <h1 class="neu-title1">
        Основной
    </h1>
    @for (int i = 0; i < darkPalette.Length; ++i)
    {
        ColorF result = darkPalette[i];
        float whiteOnBackground = ContrastCalculator.GetContrast(ColorF.White, result);
        float blackOnBackground = ContrastCalculator.GetContrast(ColorF.Black, result);
        var hexColor = result.ToString("hex");
        var color = result.ToString("rgb");
        string foreColor;
        if (MathF.Abs(whiteOnBackground) > MathF.Abs(blackOnBackground))
        {
            foreColor = "white";
        }
        else
        {
            foreColor = "black";
        }
        <div class="swatch" style="background-color:@color;color:@foreColor;">
            <div>
                @color.Substring(3)<br />@hexColor
            </div>
        </div>
        Console.WriteLine(hexColor);
        if(i == darkPalette.Length / 2 - 1) {
            <br />
            <br />
        }
    }
    <h1 class="neu-title1">
        Нейтральные
    </h1>
    @for (int i = 0; i < greyPalette.Length; ++i)
    {
        ColorF result = greyPalette[i];
        float whiteOnBackground = ContrastCalculator.GetContrast(ColorF.White, result);
        float blackOnBackground = ContrastCalculator.GetContrast(ColorF.Black, result);
        var hexColor = result.ToString("hex");
        var color = result.ToString("rgb");
        string foreColor;
        if (MathF.Abs(whiteOnBackground) > MathF.Abs(blackOnBackground))
        {
            foreColor = "white";
        }
        else
        {
            foreColor = "black";
        }
        <div class="swatch" style="background-color:@color;color:@foreColor;">
            <div>
                @color.Substring(3)<br />@hexColor
            </div>
        </div>
        Console.WriteLine(hexColor);
        if (i == darkPalette.Length / 2 - 1)
        {
            <br />
            <br />
        }
    }
</div>

