<style>
</style>

<div class="page-header">
    <div class="page-title">Fabric Icons</div>
</div>
<div class="page-tabs">
    <div>&nbsp;</div>
</div>
<div class="page-content">
    <div class="spectrum-Article">
        <h4 class="spectrum-Heading spectrum-Heading--sizeXL spectrum-Heading--serif">
            Fabric Icons
        </h4>
    </div>
    <p class="spectrum-Body spectrum-Body--sizeM">
        If you're creating your own project, we recommend using <code class="spectrum-Code">@@open-wc</code>'s
        <sp-link target="_blank" href="https://open-wc.org/guides/developing-components/getting-started/" dir="ltr" focusable="">project generator</sp-link>, which will get you started in an environment similar to this repository. <code class="spectrum-Code">@@open-wc</code> also uses Lit for building components and <code class="spectrum-Code">@@web/test-runner</code> for their testing framework, making it easier for us to troubleshoot and reproduce any issues you run into, as well as reducing the amount of changes to make to your code if you decide to contribute your work to our library. For specific information on how to configure your <code class="spectrum-Code">@@open-wc</code> project, click <sp-link href="/spectrum-web-components/guides/configuring-openwc" dir="ltr" focusable="">here</sp-link>.
    </p>

</div>

