@{
    ViewData["Title"] = "Home Page";
}
<style>
    :root {
        color-scheme: dark;
        --font-size: 13px;
    }
</style>
<div class="page-content">
    <h1 class="neu-display">Welcome</h1>
</div>
