<div class="page-header">
    <div class="neu-display">Material Icons</div>
</div>
<div class="page-tabs">
    <div>&nbsp;</div>
</div>
<div class="page-content">
    <h2 class="neu-title2">
        Material Icons
    </h2>
    <br />
    <input id="iconsFilter" type="text" value="wifi" />
    <button type="button" onclick="javascript:searchIcons(this)" title="Search">Search</button>
    <neu-iconlist id="icons" type="Material" size="xxl" style="height:400px;max-height:400px;" filter="wifi"></neu-iconlist>
    <script>
        function searchIcons(button) {
            document.getElementById("icons").filter = document.getElementById("iconsFilter").value;
        }
    </script>
    <br />
    <br />
    <h3 class="neu-title3">
        Sharp Icons
    </h3>
    <p class="neu-body1">
        <neu-material-icon glyph="ArticleShortcut" sharp size="xxs"></neu-material-icon>
        <neu-material-icon glyph="ArticleShortcut" sharp size="xs"></neu-material-icon>
        <neu-material-icon glyph="ArticleShortcut" sharp size="s"></neu-material-icon>
        <neu-material-icon glyph="ArticleShortcut" sharp></neu-material-icon>
        <neu-material-icon glyph="ArticleShortcut" sharp size="m"></neu-material-icon>
        <neu-material-icon glyph="ArticleShortcut" sharp size="l"></neu-material-icon>
        <neu-material-icon glyph="ArticleShortcut" sharp size="xl"></neu-material-icon>
        <neu-material-icon glyph="ArticleShortcut" sharp size="xxl"></neu-material-icon>
    </p>
    <p class="neu-body1">
        <neu-material-icon glyph="AdGroup" sharp weight="100" size="xxs"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="100" size="xs"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="100" size="s"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="100" size="n"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="100" size="m"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="100" size="l"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="100" size="xl"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="100" size="xxl"></neu-material-icon>
    </p>
    <p class="neu-body1">
        <neu-material-icon glyph="AdGroup" sharp weight="900" size="xxs"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="900" size="xs"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="900" size="s"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="900" size="n"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="900" size="m"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="900" size="l"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="900" size="xl"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" sharp weight="900" size="xxl"></neu-material-icon>
    </p>
    <p class="neu-body1" style="color:#00cc6a;">
        <neu-material-icon glyph="AudioVideoReceiver" size="xxs"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" size="xs"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" size="s"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" size="n"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" size="m"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" size="l"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" size="xl"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" size="xxl"></neu-material-icon>
    </p>
    <h3 class="neu-title3">
        Outlined Icons
    </h3>
    <p class="neu-body1">
        <neu-material-icon glyph="AdGroup" outlined size="xxs"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" outlined size="xs"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" outlined size="s"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" outlined size="n"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" outlined size="m"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" outlined size="l"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" outlined size="xl"></neu-material-icon>
        <neu-material-icon glyph="AdGroup" outlined size="xxl"></neu-material-icon>
    </p>
    <p class="neu-body1" style="color:#00cc6a;">
        <neu-material-icon glyph="AudioVideoReceiver" outlined size="xxs"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" outlined size="xs"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" outlined size="s"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" outlined size="n"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" outlined size="m"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" outlined size="l"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" outlined size="xl"></neu-material-icon>
        <neu-material-icon glyph="AudioVideoReceiver" outlined size="xxl"></neu-material-icon>
    </p>
    <h3 class="neu-title3">
        Rounded Icons
    </h3>
    <p class="neu-body1">
        <neu-material-icon glyph="Preview" rounded size="xxs"></neu-material-icon>
        <neu-material-icon glyph="Preview" rounded size="xs"></neu-material-icon>
        <neu-material-icon glyph="Preview" rounded size="s"></neu-material-icon>
        <neu-material-icon glyph="Preview" rounded size="n"></neu-material-icon>
        <neu-material-icon glyph="Preview" rounded size="m"></neu-material-icon>
        <neu-material-icon glyph="Preview" rounded size="l"></neu-material-icon>
        <neu-material-icon glyph="Preview" rounded size="xl"></neu-material-icon>
        <neu-material-icon glyph="Preview" rounded size="xxl"></neu-material-icon>
    </p>
    <p class="neu-body1" style="color:#00cc6a;">
        <neu-material-icon glyph="PublicOff" rounded size="xxs"></neu-material-icon>
        <neu-material-icon glyph="PublicOff" rounded size="xs"></neu-material-icon>
        <neu-material-icon glyph="PublicOff" rounded size="s"></neu-material-icon>
        <neu-material-icon glyph="PublicOff" rounded size="n"></neu-material-icon>
        <neu-material-icon glyph="PublicOff" rounded size="m"></neu-material-icon>
        <neu-material-icon glyph="PublicOff" rounded size="l"></neu-material-icon>
        <neu-material-icon glyph="PublicOff" rounded size="xl"></neu-material-icon>
        <neu-material-icon glyph="PublicOff" rounded size="xxl"></neu-material-icon>
    </p>
</div>

