@using Neutrino.Pictoris.Drawing;

@{
}
<div class="page-header">
    <h1 class="neu-display">Sidebar</h1>
</div>
<div class="page-tabs">
    <div>&nbsp;</div>
</div>
<div class="page-content">
    <h1 class="neu-title1">
        Навигационная панель
    </h1>
    <p class="neu-body1">
        Навигационная панель. Обычно располагается в левой части главного экрана приложения. Навигационная панель
        содержит ссылки на доступные пользователю разделы приложения.
    </p>

    <neu-sidebar>
        <neu-sidebar-item href="#" selected>
            <span>General Info</span>
            <neu-material-icon glyph="AwardStar" size="s" slot="start"></neu-material-icon>
        </neu-sidebar-item>
        <neu-sidebar-item href="#">
            <span>Quick Start</span>
            <neu-material-icon glyph="ArticleShortcut" size="s" slot="start"></neu-material-icon>
        </neu-sidebar-item>
        <neu-sidebar-item href="#" expanded>
            <span>Icons</span>
            <neu-material-icon glyph="PhotoLibrary" size="s" slot="start"></neu-material-icon>
            <neu-sidebar-item href="#">
                <span>Material Icons</span>
                <neu-material-icon glyph="Image" size="s" slot="start"></neu-material-icon>
            </neu-sidebar-item>
            <neu-sidebar-item href="#">
                <span>Fluent UI Icons</span>
                <neu-material-icon glyph="Image" size="s" slot="start"></neu-material-icon>
            </neu-sidebar-item>
        </neu-sidebar-item>
    </neu-sidebar>
</div>

