@using Neutrino.Pictoris.Drawing;

@{
}
<div class="page-header">
    <h1 class="neu-display">Sidebar</h1>
</div>
<div class="page-tabs">
    <div>&nbsp;</div>
</div>
<div class="page-content">
    <h1 class="neu-title1">
        Sidebar component
    </h1>
    <p class="neu-body1">
        If you're creating your own project, we recommend using <code class="neu-code">@@open-wc</code>'s
        <neu-link target="_blank" href="https://open-wc.org/guides/developing-components/getting-started/" dir="ltr" focusable="">project generator</neu-link>, which will get you started in an environment similar to this repository. <code class="neu-code">@@open-wc</code> also uses Lit for building components and <code class="neu-code">@@web/test-runner</code> for their testing framework, making it easier for us to troubleshoot and reproduce any issues you run into, as well as reducing the amount of changes to make to your code if you decide to contribute your work to our library. For specific information on how to configure your <code class="neu-code">@@open-wc</code> project, click <neu-link href="/spectrum-web-components/guides/configuring-openwc" dir="ltr" focusable="">here</neu-link>.
    </p>

    <neu-sidebar>
        <neu-sidebar-item href="#" selected>
            <span>General Info</span>
            <neu-material-icon glyph="AwardStar" size="s" slot="start"></neu-material-icon>
        </neu-sidebar-item>
        <neu-sidebar-item href="#">
            <span>Quick Start</span>
            <neu-material-icon glyph="ArticleShortcut" size="s" slot="start"></neu-material-icon>
        </neu-sidebar-item>
        <neu-sidebar-item href="#" expanded>
            <span>Icons</span>
            <neu-material-icon glyph="PhotoLibrary" size="s" slot="start"></neu-material-icon>
            <neu-sidebar-item href="#">
                <span>Material Icons</span>
                <neu-material-icon glyph="Image" size="s" slot="start"></neu-material-icon>
            </neu-sidebar-item>
            <neu-sidebar-item href="#">
                <span>Fluent UI Icons</span>
                <neu-material-icon glyph="Image" size="s" slot="start"></neu-material-icon>
            </neu-sidebar-item>
        </neu-sidebar-item>
    </neu-sidebar>
</div>

