
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    background: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
}
