:host {
    display: block;
    background-color: var(--color-neutral-100);
    padding: var(--spacing-xs);
    overflow-y: auto;
}

:host div[role="list"] {
    display: flex;
    flex-direction: column;
}
