@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="button1">Click Me!</button>
    <p>Updated at @(System.DateTime.Now) </p>
</div>

<script type="module" src="~/Views/Home/Index.cshtml.js"></script>