@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div data-control="TextBox"></div>

@section Scripts
{
    <script type="module" src="~/Areas/Core/Home/Controls.cshtml.js"></script>
}
