@using Neutrino.Areas.Core.Home

@inherits IndexView

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="button1">Click Me!</button><br />
    <button id="button2">Load Partial</button>
    <p>Updated at @(System.DateTime.Now) </p>
    <div id="currentTime" style="font-size:32px;">
        00:00:00
    </div>
    <div id="partialView">
        @Html.Raw(DefaultData.ToString())
    </div>
</div>

<script type="module" src="~/Areas/Core/Home/Index.cshtml.js"></script>
