@using Neutrino.Pictoris.Drawing;

<div class="page-header">
    <h1 class="neu-display">Components</h1>
</div>

<div class="page-tabs">
    <div>&nbsp;</div>
</div>

<div class="page-content">
    <h1 class="neu-title1">
        Components
    </h1>

    <h2 class="neu-title2">
        Identity & Access Management
    </h2>
    <p class="neu-body1">
        <table class="neu-table">
            <colgroup>
                <col style="min-width: 20%" />
            </colgroup>
            <tr>
                <td><neu-link href="https://www.keycloak.org/">Keycloak</neu-link></td>
                <td>
                    Add authentication to applications and secure services with minimum effort.
                    No need to deal with storing users or authenticating users.

                    Keycloak provides user federation, strong authentication, user management, 
                    fine-grained authorization, and more.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://github.com/openiddict">OpenIddict</neu-link></td>
                <td>
                    OpenIddict aims at providing a versatile solution to implement OpenID Connect client, 
                    server and token validation support in .NET applications.
                </td>
            </tr>
        </table>
    </p>


    <h2 class="neu-title2">
        Databases (SQL & NoSQL)
    </h2>
    <p class="neu-body1">
        <table class="neu-table">
            <colgroup>
                <col style="min-width: 20%" />
            </colgroup>
            <tr>
                <td><neu-link href="https://www.postgresql.org/">PostgreSQL</neu-link></td>
                <td>
                    PostgreSQL is a powerful, open source object-relational database system that 
                    uses and extends the SQL language combined with many features that safely 
                    store and scale the most complicated data workloads. The origins of PostgreSQL 
                    date back to 1986 as part of the POSTGRES project at the University of California 
                    at Berkeley and has more than 35 years of active development on the core platform.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://vitess.io/">Vitess</neu-link></td>
                <td>
                    MySQL-compatible, horizontally scalable, cloud-native database solution.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://mariadb.org/">MariaDB</neu-link></td>
                <td>
                    MariaDB Server is one of the most popular open source relational databases. 
                    It’s made by the original developers of MySQL and guaranteed to stay open source. 
                    It is part of most cloud offerings and the default in most Linux distributions.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://www.mongodb.com/">MongoDB</neu-link></td>
                <td>
                    MongoDB is a source-available, cross-platform, document-oriented database program.
                    Classified as a NoSQL database product, MongoDB utilizes JSON-like documents with
                    optional schemas. MongoDB is developed by MongoDB Inc. and current versions are
                    licensed under the Server Side Public License (SSPL). MongoDB is a member of the
                    MACH Alliance.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://www.sqlite.org/">SQLite</neu-link></td>
                <td>
                    SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, 
                    full-featured, SQL database engine. SQLite is the most used database engine in the world. 
                    SQLite is built into all mobile phones and most computers and comes bundled inside countless 
                    other applications that people use every day. 
                </td>
            </tr>
        </table>
    </p>

    <h2 class="neu-title2">
        Key-Value Databases
    </h2>
    <p class="neu-body1">
        <table class="neu-table">
            <colgroup>
                <col style="min-width: 20%" />
            </colgroup>
            <tr>
                <td><neu-link href="https://tikv.org/">TiKV</neu-link></td>
                <td>
                    A distributed transactional key-value database. Based on the design
                    of Google Spanner and HBase, but simpler to manage and without dependencies
                    on any distributed filesystem
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://redis.io/">Redis</neu-link></td>
                <td>
                    Redis is an in-memory data store used by millions of developers as a cache, 
                    vector database, document database, streaming engine, and message broker. 
                    Redis has built-in replication and different levels of on-disk persistence. 
                    It supports complex data types (for example, strings, hashes, lists, sets, 
                    sorted sets, and JSON), with atomic operations defined on those data types.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://microsoft.github.io/">Garnet</neu-link></td>
                <td>
                    Garnet is a new remote cache-store from Microsoft Research, that is designed 
                    to be extremely fast, extensible, and low latency. Garnet is thread-scalable 
                    within a single node. It also supports sharded cluster execution, with replication, 
                    checkpointing, failover, and transactions. It can operate over main memory as well 
                    as tiered storage (such as SSD and Azure Storage). Garnet supports a rich API 
                    surface and a powerful extensibility model.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://www.foundationdb.org/">FoundationDB </neu-link></td>
                <td>
                    FoundationDB is multi-model, meaning you can store many types of data in a single database. 
                    All data is safely stored, distributed, and replicated in the Key-Value Store component.
                </td>
            </tr>
        </table>
    </p>

    <h2 class="neu-title2">
        Service Discovery
    </h2>
    <p class="neu-body1">
        <table class="neu-table">
            <colgroup>
                <col style="min-width: 20%" />
            </colgroup>
            <tr>
                <td><neu-link href="https://etcd.io/">etcd</neu-link></td>
                <td>
                    Distributed reliable key-value store for the most critical data of a distributed system
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://vitess.io/">CoreDNS</neu-link></td>
                <td>
                    CoreDNS is a DNS server that chains plugins
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://www.hashicorp.com/products/consul">Consul</neu-link></td>
                <td>
                    Discover and securely connect any service across any runtime with identity-based service networking.
                </td>
            </tr>
        </table>
    </p>

    <h2 class="neu-title2">
        Streaming & Messaging
    </h2>
    <p class="neu-body1">
        <table class="neu-table">
            <colgroup>
                <col style="min-width: 20%" />
            </colgroup>
            <tr>
                <td><neu-link href="https://kafka.apache.org/">Kafka</neu-link></td>
                <td>
                    Apache Kafka is an open-source distributed event streaming platform used by thousands of 
                    companies for high-performance data pipelines, streaming analytics, data integration, 
                    and mission-critical applications.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://www.rabbitmq.com/">RabbitMQ</neu-link></td>
                <td>
                    RabbitMQ is a reliable and mature messaging and streaming broker, which is easy 
                    to deploy on cloud environments, on-premises, and on your local machine. It is 
                    currently used by millions worldwide
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://vitess.io/">CloudEvents</neu-link></td>
                <td>
                    Standardizing common eventing metadata and their location to help with event 
                    identification and routing.
                </td>
            </tr>
        </table>
    </p>

    <h2 class="neu-title2">
        Load Balancers
    </h2>
    <p class="neu-body1">
        <table class="neu-table">
            <colgroup>
                <col style="min-width: 20%" />
            </colgroup>
            <tr>
                <td><neu-link href="https://github.com/nginx/nginx">NGINX</neu-link></td>
                <td>
                    Nginx is a name that should be instantly recognizable to anyone involved in web 
                    application engineering. This tool offers load balancing capabilities via its 
                    ngx_http_upstream_module. A well-established, widely supported option, Nginx 
                    offers highly scalable performance out of the box and can be extended with additional 
                    modules like Lua.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://github.com/haproxy/">HAProxy</neu-link></td>
                <td>
                    HAProxy is another common name in the web ecosystem. HAProxy offers reverse proxying and 
                    load balancing of TCP and HTTP traffic. When you choose HAProxy, you’re choosing a 
                    high-performance, well-established solution.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://github.com/eBay/Neutrino">Neutrino</neu-link></td>
                <td>
                    A relatively lesser-known offering, Neutrino is a Scala-based software load balancer 
                    originally developed by eBay. Neutrino’s strength lies in the broad compatibility 
                    of its runtime environment, the JVM.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://github.com/google/seesaw">Seesaw</neu-link></td>
                <td>
                    Seesaw is another open-source load balancer written in Golang. It was originally 
                    created by Google SREs to provide a robust solution for load balancing internal 
                    Google infrastructure traffic. When choosing Seesaw, you’re getting the collective 
                    engineering acumen of Google’s powerful SRE cohort in an open-source ecosystem.
                </td>
            </tr>
            <tr>
                <td><neu-link href="https://github.com/traefik/traefik">Traefik</neu-link></td>
                <td>
                    Traefik bills itself as the “cloud native edge router.” It’s a modern microservices-focused 
                    application load balancer and reverse proxy written in Golang. With its emphasis on support 
                    for several modern container orchestration platforms, batteries-included logging, and several 
                    popular metric formats, Traefik is a top choice for container-based microservices architectures.
                </td>
            </tr>
        </table>
    </p>

</div>

