@using Neutrino.Pictoris.Drawing;

<div class="page-header">
    <h1 class="neu-display">SOLID</h1>
</div>

<div class="page-tabs">
    <div>&nbsp;</div>
</div>

<div class="page-content">
    <h1 class="neu-title1">
        SOLID
    </h1>
    <p class="neu-body1">
        В разработке и проектировании программного обеспечения – это аббревиатура пяти принципов, 
        предназначенных для того, чтобы упростить процесс управления жизненным циклом программного 
        продукта. В нынешние времена все принципы, в основном, рассматриваются с точки зрения 
        объектно-ориентированного подхода.
    </p>
</div>

