:root {
    --shadow-light-ambient-color: rgba(0,0,0,0.12);
    --shadow-light-key-color: rgba(0,0,0,0.14);
    --shadow-dark-ambient-color: rgba(0,0,0,0.24);
    --shadow-dark-key-color: rgba(0,0,0,0.28);
}

@media (prefers-color-scheme: light) {
  :root {
    --shadow-ambient-color: var(--shadow-light-ambient-color);
    --shadow-key-color: var(--shadow-light-key-color);
    --theme-foreground: black;
    --theme-foreground10: var(--color-neutral-100);
    --theme-foreground20: var(--color-neutral-200);
    --theme-foreground30: var(--color-neutral-300);
    --theme-background: white;
    --color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-ambient-color: var(--shadow-dark-ambient-color);
    --shadow-key-color: var(--shadow-dark-key-color);
    --theme-foreground: white;
    --theme-foreground10: var(--color-neutral-900);
    --theme-foreground20: var(--color-neutral-800);
    --theme-foreground30: var(--color-neutral-700);
    --theme-background: var(--color-neutral-50);
    --theme-background10: var(--color-neutral-100);
    --theme-background20: var(--color-neutral-200);
    --theme-background20: var(--color-neutral-300);
    --color-scheme: dark;
  }
}
