
:root {
    --color-black-alpha5: rgba(0, 0, 0, 0.05);
    --color-black-alpha10: rgba(0, 0, 0, 0.10);
    --color-black-alpha20: rgba(0, 0, 0, 0.20);
    --color-black-alpha30: rgba(0, 0, 0, 0.30);
    --color-black-alpha40: rgba(0, 0, 0, 0.40);
    --color-black-alpha50: rgba(0, 0, 0, 0.50);
    --color-black-alpha60: rgba(0, 0, 0, 0.60);
    --color-black-alpha70: rgba(0, 0, 0, 0.70);
    --color-black-alpha80: rgba(0, 0, 0, 0.80);
    --color-black-alpha90: rgba(0, 0, 0, 0.90);
    --color-black-alpha95: rgba(0, 0, 0, 0.95);

    --color-white-alpha5: rgba(255, 255, 255, 0.05);
    --color-white-alpha10: rgba(255, 255, 255, 0.10);
    --color-white-alpha20: rgba(255, 255, 255, 0.20);
    --color-white-alpha30: rgba(255, 255, 255, 0.30);
    --color-white-alpha40: rgba(255, 255, 255, 0.40);
    --color-white-alpha50: rgba(255, 255, 255, 0.50);
    --color-white-alpha60: rgba(255, 255, 255, 0.60);
    --color-white-alpha70: rgba(255, 255, 255, 0.70);
    --color-white-alpha80: rgba(255, 255, 255, 0.80);
    --color-white-alpha90: rgba(255, 255, 255, 0.90);
    --color-white-alpha95: rgba(255, 255, 255, 0.95);

    --color-neutral-0: black;
    --color-neutral-50:#0C0C0C;
    --color-neutral-100:#191919;
    --color-neutral-150:#262626;
    --color-neutral-200:#333333;
    --color-neutral-250:#3F3F3F;
    --color-neutral-300:#4C4C4C;
    --color-neutral-350:#595959;
    --color-neutral-400:#666666;
    --color-neutral-450:#727272;
    --color-neutral-500:#7F7F7F;
    --color-neutral-550:#8C8C8C;
    --color-neutral-600:#999999;
    --color-neutral-650:#A5A5A5;
    --color-neutral-700:#B2B2B2;
    --color-neutral-750:#BFBFBF;
    --color-neutral-800:#CCCCCC;
    --color-neutral-850:#D8D8D8;
    --color-neutral-900:#E5E5E5;
    --color-neutral-950:#F2F2F2;
    --color-neutral-1000: white;
}

