
:root {
    --default-background-color: var(--color-neutral-50);
    --default-foreground-color: var(--theme-foreground);

    --link-foreground-color: var(--color-brand-500);
    --link-foreground-color-hover: var(--color-brand-600);

    --color-brand-50: #001323;
    --color-brand-100: #002846;
    --color-brand-200: #003C6A;
    --color-brand-300: #00508D;
    --color-brand-400: #0063B0;
    --color-brand-500: #0078D4;
    --color-brand-600: #2A8EDB;
    --color-brand-700: #55A5E2;
    --color-brand-800: #7FBBE9;
    --color-brand-900: #AAD2F0;
    --color-brand-950: #D4E8F7;
}
