
:root {
    --default-background-color: var(--color-neutral-50);
    --default-foreground-color: var(--theme-foreground);

    --link-foreground-color: var(--color-brand-500);
    --link-foreground-color-hover: var(--color-brand-600);

    --color-brand-50: #000C15;
    --color-brand-100: #00182A;
    --color-brand-150: #00243F;
    --color-brand-200: #003054;
    --color-brand-250: #003C6A;
    --color-brand-300: #00487F;
    --color-brand-350: #005494;
    --color-brand-400: #0060A9;
    --color-brand-450: #006CBE;
    --color-brand-500: #0078D4;
    --color-brand-550: #1985D8;
    --color-brand-600: #3393DC;
    --color-brand-650: #4CA0E0;
    --color-brand-700: #66AEE5;
    --color-brand-750: #7FBBE9;
    --color-brand-800: #99C9ED;
    --color-brand-850: #B2D6F2;
    --color-brand-900: #CCE4F6;
    --color-brand-950: #E5F1FA;
}
