:root {
    --color-darkred-shade50: #130104;
    --color-darkred-shade40: #270309;
    --color-darkred-shade30: #3A050E;
    --color-darkred-shade20: #4E0712;
    --color-darkred-shade10: #610917;
    --color-darkred-primary: #750B1C;
    --color-darkred-tint10: #882D3C;
    --color-darkred-tint20: #9C505C;
    --color-darkred-tint30: #B0737D;
    --color-darkred-tint40: #C3969D;
    --color-darkred-tint50: #D7B9BE;
    --color-darkred-tint60: #EBDCDE;

    --color-burgundy-shade50: #1B0607;
    --color-burgundy-shade40: #360C0E;
    --color-burgundy-shade30: #521316;
    --color-burgundy-shade20: #6D191D;
    --color-burgundy-shade10: #881F24;
    --color-burgundy-primary: #A4262C;
    --color-burgundy-tint10: #B1454A;
    --color-burgundy-tint20: #BE6468;
    --color-burgundy-tint30: #CB8386;
    --color-burgundy-tint40: #D8A2A4;
    --color-burgundy-tint50: #E5C1C2;
    --color-burgundy-tint60: #F2E0E0;

    --color-cranberry-shade50: #200205;
    --color-cranberry-shade40: #41050A;
    --color-cranberry-shade30: #62070F;
    --color-cranberry-shade20: #830A14;
    --color-cranberry-shade10: #A40C19;
    --color-cranberry-primary: #C50F1F;
    --color-cranberry-tint10: #CD313F;
    --color-cranberry-tint20: #D5535F;
    --color-cranberry-tint30: #DD757F;
    --color-cranberry-tint40: #E6989F;
    --color-cranberry-tint50: #EEBABF;
    --color-cranberry-tint60: #F6DCDF;

    --color-red-shade50: #220809;
    --color-red-shade40: #451112;
    --color-red-shade30: #681A1C;
    --color-red-shade20: #8B2225;
    --color-red-shade10: #AE2B2E;
    --color-red-primary: #D13438;
    --color-red-tint10: #D75154;
    --color-red-tint20: #DE6E70;
    --color-red-tint30: #E48B8D;
    --color-red-tint40: #EBA8A9;
    --color-red-tint50: #F1C5C6;
    --color-red-tint60: #F8E2E2;

    --color-darkorange-shade50: #240900;
    --color-darkorange-shade40: #481300;
    --color-darkorange-shade30: #6D1D00;
    --color-darkorange-shade20: #912700;
    --color-darkorange-shade10: #B53100;
    --color-darkorange-primary: #DA3B01;
    --color-darkorange-tint10: #DF5725;
    --color-darkorange-tint20: #E47349;
    --color-darkorange-tint30: #E98F6D;
    --color-darkorange-tint40: #EFAB92;
    --color-darkorange-tint50: #F4C7B6;
    --color-darkorange-tint60: #F9E3DA;

    --color-bronze-shade50: #1B0A01;
    --color-bronze-shade40: #371503;
    --color-bronze-shade30: #532004;
    --color-bronze-shade20: #6F2B06;
    --color-bronze-shade10: #8B3607;
    --color-bronze-primary: #A74109;
    --color-bronze-tint10: #B35C2C;
    --color-bronze-tint20: #C0774F;
    --color-bronze-tint30: #CC9272;
    --color-bronze-tint40: #D9AD95;
    --color-bronze-tint50: #E5C8B8;
    --color-bronze-tint60: #F2E3DB;

    --color-pumpkin-shade50: #210D02;
    --color-pumpkin-shade40: #431A05;
    --color-pumpkin-shade30: #652808;
    --color-pumpkin-shade20: #86350A;
    --color-pumpkin-shade10: #A8420D;
    --color-pumpkin-primary: #CA5010;
    --color-pumpkin-tint10: #D16932;
    --color-pumpkin-tint20: #D98254;
    --color-pumpkin-tint30: #E09B76;
    --color-pumpkin-tint40: #E8B498;
    --color-pumpkin-tint50: #EFCDBA;
    --color-pumpkin-tint60: #F7E6DC;

    --color-orange-shade50: #291001;
    --color-orange-shade40: #522104;
    --color-orange-shade30: #7B3106;
    --color-orange-shade20: #A44208;
    --color-orange-shade10: #CD5209;
    --color-orange-primary: #F7630C;
    --color-orange-tint10: #F8792E;
    --color-orange-tint20: #F98F51;
    --color-orange-tint30: #FAA574;
    --color-orange-tint40: #FBBC96;
    --color-orange-tint50: #FCD2B9;
    --color-orange-tint60: #FDE8DC;

    --color-peach-shade50: #2A1700;
    --color-peach-shade40: #552E00;
    --color-peach-shade30: #7F4600;
    --color-peach-shade20: #AA5D00;
    --color-peach-shade10: #D47400;
    --color-peach-primary: #FF8C00;
    --color-peach-tint10: #FF9C24;
    --color-peach-tint20: #FFAC48;
    --color-peach-tint30: #FFBD6D;
    --color-peach-tint40: #FFCD91;
    --color-peach-tint50: #FFDEB6;
    --color-peach-tint60: #FFEEDA;

    --color-marigold-shade50: #261B00;
    --color-marigold-shade40: #4E3600;
    --color-marigold-shade30: #755100;
    --color-marigold-shade20: #9C6C00;
    --color-marigold-shade10: #C38700;
    --color-marigold-primary: #EAA300;
    --color-marigold-tint10: #EDB024;
    --color-marigold-tint20: #F0BD48;
    --color-marigold-tint30: #F3CA6D;
    --color-marigold-tint40: #F6D791;
    --color-marigold-tint50: #F9E4B6;
    --color-marigold-tint60: #FCF1DA;

    --color-yellow-shade50: #2A2500;
    --color-yellow-shade40: #544B00;
    --color-yellow-shade30: #7E7100;
    --color-yellow-shade20: #A89700;
    --color-yellow-shade10: #D2BD00;
    --color-yellow-primary: #FDE300;
    --color-yellow-tint10: #FDE724;
    --color-yellow-tint20: #FDEB48;
    --color-yellow-tint30: #FDEF6D;
    --color-yellow-tint40: #FEF391;
    --color-yellow-tint50: #FEF7B6;
    --color-yellow-tint60: #FEFBDA;

    --color-gold-shade50: #201900;
    --color-gold-shade40: #403400;
    --color-gold-shade30: #604E00;
    --color-gold-shade20: #806800;
    --color-gold-shade10: #A08200;
    --color-gold-primary: #C19C00;
    --color-gold-tint10: #C9AA24;
    --color-gold-tint20: #D2B848;
    --color-gold-tint30: #DBC66D;
    --color-gold-tint40: #E4D491;
    --color-gold-tint50: #EDE2B6;
    --color-gold-tint60: #F6F0DA;

    --color-brass-shade50: #191201;
    --color-brass-shade40: #322503;
    --color-brass-shade30: #4C3705;
    --color-brass-shade20: #654A07;
    --color-brass-shade10: #7E5C09;
    --color-brass-primary: #986F0B;
    --color-brass-tint10: #A6832D;
    --color-brass-tint20: #B59850;
    --color-brass-tint30: #C4AC73;
    --color-brass-tint40: #D2C196;
    --color-brass-tint50: #E1D5B9;
    --color-brass-tint60: #F0EADC;

    --color-brown-shade50: #170E07;
    --color-brown-shade40: #2F1C0F;
    --color-brown-shade30: #472B17;
    --color-brown-shade20: #5E391E;
    --color-brown-shade10: #764726;
    --color-brown-primary: #8E562E;
    --color-brown-tint10: #9E6E4B;
    --color-brown-tint20: #AE8669;
    --color-brown-tint30: #BE9E87;
    --color-brown-tint40: #CEB6A5;
    --color-brown-tint50: #DECEC3;
    --color-brown-tint60: #EEE6E1;

    --color-darkbrown-shade50: #0C0604;
    --color-darkbrown-shade40: #190D09;
    --color-darkbrown-shade30: #26140E;
    --color-darkbrown-shade20: #331B12;
    --color-darkbrown-shade10: #402217;
    --color-darkbrown-primary: #4D291C;
    --color-darkbrown-tint10: #66473C;
    --color-darkbrown-tint20: #7F665C;
    --color-darkbrown-tint30: #99847D;
    --color-darkbrown-tint40: #B2A39D;
    --color-darkbrown-tint50: #CCC1BE;
    --color-darkbrown-tint60: #E5E0DE;

    --color-lime-shade50: #131C06;
    --color-lime-shade40: #26380C;
    --color-lime-shade30: #395512;
    --color-lime-shade20: #4C7118;
    --color-lime-shade10: #5F8D1E;
    --color-lime-primary: #73AA24;
    --color-lime-tint10: #87B643;
    --color-lime-tint20: #9BC262;
    --color-lime-tint30: #AFCE81;
    --color-lime-tint40: #C3DAA1;
    --color-lime-tint50: #D7E6C0;
    --color-lime-tint60: #EBF2DF;

    --color-forest-shade50: #0C1500;
    --color-forest-shade40: #182B01;
    --color-forest-shade30: #244102;
    --color-forest-shade20: #305603;
    --color-forest-shade10: #3C6C04;
    --color-forest-primary: #498205;
    --color-forest-tint10: #639328;
    --color-forest-tint20: #7DA54C;
    --color-forest-tint30: #97B770;
    --color-forest-tint40: #B1C993;
    --color-forest-tint50: #CBDBB7;
    --color-forest-tint60: #E5EDDB;

    --color-seafoam-shade50: #002111;
    --color-seafoam-shade40: #004423;
    --color-seafoam-shade30: #006635;
    --color-seafoam-shade20: #008846;
    --color-seafoam-shade10: #00A958;
    --color-seafoam-primary: #00CC6A;
    --color-seafoam-tint10: #24D37F;
    --color-seafoam-tint20: #48DA94;
    --color-seafoam-tint30: #6DE1A9;
    --color-seafoam-tint40: #91E9BF;
    --color-seafoam-tint50: #B6F0D4;
    --color-seafoam-tint60: #DAF7E9;

    --color-lightgreen-shade50: #031A02;
    --color-lightgreen-shade40: #063504;
    --color-lightgreen-shade30: #095007;
    --color-lightgreen-shade20: #0C6B09;
    --color-lightgreen-shade10: #0F860B;
    --color-lightgreen-primary: #13A10E;
    --color-lightgreen-tint10: #34AE30;
    --color-lightgreen-tint20: #56BB52;
    --color-lightgreen-tint30: #78C975;
    --color-lightgreen-tint40: #99D697;
    --color-lightgreen-tint50: #BBE4BA;
    --color-lightgreen-tint60: #DDF1DC;

    --color-green-shade50: #021402;
    --color-green-shade40: #052905;
    --color-green-shade30: #083E08;
    --color-green-shade20: #0A520A;
    --color-green-shade10: #0D670D;
    --color-green-primary: #107C10;
    --color-green-tint10: #328E32;
    --color-green-tint20: #54A154;
    --color-green-tint30: #76B476;
    --color-green-tint40: #98C698;
    --color-green-tint50: #BAD9BA;
    --color-green-tint60: #DCECDC;

    --color-darkgreen-shade50: #011101;
    --color-darkgreen-shade40: #032303;
    --color-darkgreen-shade30: #053505;
    --color-darkgreen-shade20: #074607;
    --color-darkgreen-shade10: #095809;
    --color-darkgreen-primary: #0B6A0B;
    --color-darkgreen-tint10: #2D7F2D;
    --color-darkgreen-tint20: #509450;
    --color-darkgreen-tint30: #73A973;
    --color-darkgreen-tint40: #96BF96;
    --color-darkgreen-tint50: #B9D4B9;
    --color-darkgreen-tint60: #DCE9DC;

    --color-lightteal-shade50: #001E20;
    --color-lightteal-shade40: #003D41;
    --color-lightteal-shade30: #005B61;
    --color-lightteal-shade20: #007A82;
    --color-lightteal-shade10: #0098A2;
    --color-lightteal-primary: #00B7C3;
    --color-lightteal-tint10: #24C1CB;
    --color-lightteal-tint20: #48CBD4;
    --color-lightteal-tint30: #6DD5DC;
    --color-lightteal-tint40: #91E0E5;
    --color-lightteal-tint50: #B6EAED;
    --color-lightteal-tint60: #DAF4F6;

    --color-teal-shade50: #001516;
    --color-teal-shade40: #012B2D;
    --color-teal-shade30: #014143;
    --color-teal-shade20: #02575A;
    --color-teal-shade10: #026D70;
    --color-teal-primary: #038387;
    --color-teal-tint10: #279498;
    --color-teal-tint20: #4BA6A9;
    --color-teal-tint30: #6FB8BA;
    --color-teal-tint40: #93C9CB;
    --color-teal-tint50: #B7DBDC;
    --color-teal-tint60: #DBEDED;

    --color-darkteal-shade50: #001010;
    --color-darkteal-shade40: #002222;
    --color-darkteal-shade30: #003333;
    --color-darkteal-shade20: #004444;
    --color-darkteal-shade10: #005454;
    --color-darkteal-primary: #006666;
    --color-darkteal-tint10: #247B7B;
    --color-darkteal-tint20: #489191;
    --color-darkteal-tint30: #6DA7A7;
    --color-darkteal-tint40: #91BDBD;
    --color-darkteal-tint50: #B6D3D3;
    --color-darkteal-tint60: #DAE9E9;

    --color-cyan-shade50: #00191F;
    --color-cyan-shade40: #00333E;
    --color-cyan-shade30: #004C5E;
    --color-cyan-shade20: #00667D;
    --color-cyan-shade10: #007F9C;
    --color-cyan-primary: #0099BC;
    --color-cyan-tint10: #24A7C5;
    --color-cyan-tint20: #48B6CF;
    --color-cyan-tint30: #6DC4D8;
    --color-cyan-tint40: #91D3E2;
    --color-cyan-tint50: #B6E1EB;
    --color-cyan-tint60: #DAF0F5;

    --color-steel-shade50: #000F12;
    --color-steel-shade40: #001E25;
    --color-steel-shade30: #002D38;
    --color-steel-shade20: #003C4A;
    --color-steel-shade10: #004B5D;
    --color-steel-primary: #005B70;
    --color-steel-tint10: #247284;
    --color-steel-tint20: #488998;
    --color-steel-tint30: #6DA1AD;
    --color-steel-tint40: #91B8C1;
    --color-steel-tint50: #B6D0D6;
    --color-steel-tint60: #DAE7EA;

    --color-lightblue-shade50: #091924;
    --color-lightblue-shade40: #133249;
    --color-lightblue-shade30: #1D4B6E;
    --color-lightblue-shade20: #266493;
    --color-lightblue-shade10: #307DB8;
    --color-lightblue-primary: #3A96DD;
    --color-lightblue-tint10: #56A5E1;
    --color-lightblue-tint20: #72B4E6;
    --color-lightblue-tint30: #8EC3EB;
    --color-lightblue-tint40: #AAD2F0;
    --color-lightblue-tint50: #C6E1F5;
    --color-lightblue-tint60: #E2F0FA;

    --color-blue-shade50: #001323;
    --color-blue-shade40: #002846;
    --color-blue-shade30: #003C6A;
    --color-blue-shade20: #00508D;
    --color-blue-shade10: #0063B0;
    --color-blue-primary: #0078D4;
    --color-blue-tint10: #248BDA;
    --color-blue-tint20: #489EE0;
    --color-blue-tint30: #6DB1E6;
    --color-blue-tint40: #91C5EC;
    --color-blue-tint50: #B6D8F2;
    --color-blue-tint60: #DAEBF8;

    --color-royalblue-shade50: #000C17;
    --color-royalblue-shade40: #001A2E;
    --color-royalblue-shade30: #002746;
    --color-royalblue-shade20: #00345D;
    --color-royalblue-shade10: #004174;
    --color-royalblue-primary: #004E8C;
    --color-royalblue-tint10: #24679C;
    --color-royalblue-tint20: #4880AC;
    --color-royalblue-tint30: #6D99BD;
    --color-royalblue-tint40: #91B3CD;
    --color-royalblue-tint50: #B6CCDE;
    --color-royalblue-tint60: #DAE5EE;

    --color-darkblue-shade50: #000910;
    --color-darkblue-shade40: #001322;
    --color-darkblue-shade30: #001C33;
    --color-darkblue-shade20: #002644;
    --color-darkblue-shade10: #002F54;
    --color-darkblue-primary: #003966;
    --color-darkblue-tint10: #24557B;
    --color-darkblue-tint20: #487191;
    --color-darkblue-tint30: #6D8DA7;
    --color-darkblue-tint40: #91AABD;
    --color-darkblue-tint50: #B6C6D3;
    --color-darkblue-tint60: #DAE2E9;

    --color-cornflower-shade50: #0D1127;
    --color-cornflower-shade40: #1A234F;
    --color-cornflower-shade30: #273576;
    --color-cornflower-shade20: #34479E;
    --color-cornflower-shade10: #4159C5;
    --color-cornflower-primary: #4F6BED;
    --color-cornflower-tint10: #6880EF;
    --color-cornflower-tint20: #8195F2;
    --color-cornflower-tint30: #9AAAF4;
    --color-cornflower-tint40: #B3BFF7;
    --color-cornflower-tint50: #CCD4F9;
    --color-cornflower-tint60: #E5E9FC;

    --color-navy-shade50: #00061D;
    --color-navy-shade40: #000D3C;
    --color-navy-shade30: #00135A;
    --color-navy-shade20: #001A78;
    --color-navy-shade10: #002096;
    --color-navy-primary: #0027B4;
    --color-navy-tint10: #2445BE;
    --color-navy-tint20: #4864C9;
    --color-navy-tint30: #6D83D4;
    --color-navy-tint40: #91A2DE;
    --color-navy-tint50: #B6C1E9;
    --color-navy-tint60: #DAE0F4;

    --color-lavender-shade50: #120F26;
    --color-lavender-shade40: #25204D;
    --color-lavender-shade30: #383074;
    --color-lavender-shade20: #4B409A;
    --color-lavender-shade10: #5E4FC1;
    --color-lavender-primary: #7160E8;
    --color-lavender-tint10: #8576EB;
    --color-lavender-tint20: #998DEE;
    --color-lavender-tint30: #ADA4F1;
    --color-lavender-tint40: #C2BAF5;
    --color-lavender-tint50: #D6D1F8;
    --color-lavender-tint60: #EAE8FB;

    --color-purple-shade50: #0F0718;
    --color-purple-shade40: #1E0F30;
    --color-purple-shade30: #2E1748;
    --color-purple-shade20: #3D1E60;
    --color-purple-shade10: #4C2678;
    --color-purple-primary: #5C2E91;
    --color-purple-tint10: #734BA0;
    --color-purple-tint20: #8A69B0;
    --color-purple-tint30: #A187C0;
    --color-purple-tint40: #B9A5CF;
    --color-purple-tint50: #D0C3DF;
    --color-purple-tint60: #E7E1EF;

    --color-darkpurple-shade50: #0A0411;
    --color-darkpurple-shade40: #150924;
    --color-darkpurple-shade30: #200D36;
    --color-darkpurple-shade20: #2A1248;
    --color-darkpurple-shade10: #351659;
    --color-darkpurple-primary: #401B6C;
    --color-darkpurple-tint10: #5B3B81;
    --color-darkpurple-tint20: #765C96;
    --color-darkpurple-tint30: #917CAB;
    --color-darkpurple-tint40: #AD9DC0;
    --color-darkpurple-tint50: #C8BDD5;
    --color-darkpurple-tint60: #E3DEEA;

    --color-orchid-shade50: #16101E;
    --color-orchid-shade40: #2D213D;
    --color-orchid-shade30: #43325C;
    --color-orchid-shade20: #5A427A;
    --color-orchid-shade10: #705399;
    --color-orchid-primary: #8764B8;
    --color-orchid-tint10: #987AC2;
    --color-orchid-tint20: #A990CC;
    --color-orchid-tint30: #BAA6D6;
    --color-orchid-tint40: #CBBCE0;
    --color-orchid-tint50: #DCD2EA;
    --color-orchid-tint60: #EDE8F4;

    --color-grape-shade50: #160319;
    --color-grape-shade40: #2D0732;
    --color-grape-shade30: #440B4C;
    --color-grape-shade20: #5A0F65;
    --color-grape-shade10: #71137E;
    --color-grape-primary: #881798;
    --color-grape-tint10: #9938A6;
    --color-grape-tint20: #AA59B5;
    --color-grape-tint30: #BB7AC4;
    --color-grape-tint40: #CC9BD2;
    --color-grape-tint50: #DDBCE1;
    --color-grape-tint60: #EEDDF0;

    --color-berry-shade50: #20091D;
    --color-berry-shade40: #40133B;
    --color-berry-shade30: #611C59;
    --color-berry-shade20: #812677;
    --color-berry-shade10: #A12F95;
    --color-berry-primary: #C239B3;
    --color-berry-tint10: #CA55BD;
    --color-berry-tint20: #D371C8;
    --color-berry-tint30: #DC8DD3;
    --color-berry-tint40: #E4AADE;
    --color-berry-tint50: #EDC6E9;
    --color-berry-tint60: #F6E2F4;

    --color-lilac-shade50: #1D0B20;
    --color-lilac-shade40: #3B1740;
    --color-lilac-shade30: #582361;
    --color-lilac-shade20: #762E81;
    --color-lilac-shade10: #933AA1;
    --color-lilac-primary: #B146C2;
    --color-lilac-tint10: #BC60CA;
    --color-lilac-tint20: #C77AD3;
    --color-lilac-tint30: #D295DC;
    --color-lilac-tint40: #DDAFE4;
    --color-lilac-tint50: #E8CAED;
    --color-lilac-tint60: #F3E4F6;

    --color-pink-shade50: #25091B;
    --color-pink-shade40: #4C1337;
    --color-pink-shade30: #721D53;
    --color-pink-shade20: #98276E;
    --color-pink-shade10: #BD318A;
    --color-pink-primary: #E43BA6;
    --color-pink-tint10: #E757B2;
    --color-pink-tint20: #EB73BF;
    --color-pink-tint30: #EF8FCC;
    --color-pink-tint40: #F3ABD8;
    --color-pink-tint50: #F7C7E5;
    --color-pink-tint60: #FBE3F2;

    --color-hotpink-shade50: #250017;
    --color-hotpink-shade40: #4B002E;
    --color-hotpink-shade30: #710046;
    --color-hotpink-shade20: #97005D;
    --color-hotpink-shade10: #BD0074;
    --color-hotpink-primary: #E3008C;
    --color-hotpink-tint10: #E7249C;
    --color-hotpink-tint20: #EB48AC;
    --color-hotpink-tint30: #EF6DBD;
    --color-hotpink-tint40: #F391CD;
    --color-hotpink-tint50: #F7B6DE;
    --color-hotpink-tint60: #FBDAEE;

    --color-magenta-shade50: #1F0013;
    --color-magenta-shade40: #3F0027;
    --color-magenta-shade30: #5F003B;
    --color-magenta-shade20: #7F004F;
    --color-magenta-shade10: #9F0063;
    --color-magenta-primary: #BF0077;
    --color-magenta-tint10: #C8248A;
    --color-magenta-tint20: #D1489D;
    --color-magenta-tint30: #DA6DB1;
    --color-magenta-tint40: #E391C4;
    --color-magenta-tint50: #ECB6D8;
    --color-magenta-tint60: #F5DAEB;

    --color-plum-shade50: #13000C;
    --color-plum-shade40: #270019;
    --color-plum-shade30: #3B0026;
    --color-plum-shade20: #4F0033;
    --color-plum-shade10: #630040;
    --color-plum-primary: #77004D;
    --color-plum-tint10: #8A2466;
    --color-plum-tint20: #9D487F;
    --color-plum-tint30: #B16D99;
    --color-plum-tint40: #C491B2;
    --color-plum-tint50: #D8B6CC;
    --color-plum-tint60: #EBDAE5;

    --color-beige-shade50: #141313;
    --color-beige-shade40: #282726;
    --color-beige-shade30: #3D3A3A;
    --color-beige-shade20: #514E4D;
    --color-beige-shade10: #656160;
    --color-beige-primary: #7A7574;
    --color-beige-tint10: #8D8887;
    --color-beige-tint20: #A09C9B;
    --color-beige-tint30: #B3B0AF;
    --color-beige-tint40: #C6C3C3;
    --color-beige-tint50: #D9D7D7;
    --color-beige-tint60: #ECEBEB;

    --color-mink-shade50: #0F0E0E;
    --color-mink-shade40: #1F1E1D;
    --color-mink-shade30: #2E2D2C;
    --color-mink-shade20: #3E3C3A;
    --color-mink-shade10: #4D4B49;
    --color-mink-primary: #5D5A58;
    --color-mink-tint10: #74716F;
    --color-mink-tint20: #8B8987;
    --color-mink-tint30: #A2A09F;
    --color-mink-tint40: #B9B8B7;
    --color-mink-tint50: #D0CFCF;
    --color-mink-tint60: #E7E7E7;

    --color-silver-shade50: #161819;
    --color-silver-shade40: #2C3133;
    --color-silver-shade30: #424A4C;
    --color-silver-shade20: #586366;
    --color-silver-shade10: #6E7C7F;
    --color-silver-primary: #859599;
    --color-silver-tint10: #96A4A7;
    --color-silver-tint20: #A7B3B6;
    --color-silver-tint30: #B9C2C4;
    --color-silver-tint40: #CAD1D3;
    --color-silver-tint50: #DCE0E1;
    --color-silver-tint60: #EDEFF0;

    --color-platinum-shade50: #111414;
    --color-platinum-shade40: #23282A;
    --color-platinum-shade30: #343C3F;
    --color-platinum-shade20: #465054;
    --color-platinum-shade10: #576468;
    --color-platinum-primary: #69797E;
    --color-platinum-tint10: #7E8C90;
    --color-platinum-tint20: #939FA2;
    --color-platinum-tint30: #A9B2B5;
    --color-platinum-tint40: #BEC5C7;
    --color-platinum-tint50: #D4D8DA;
    --color-platinum-tint60: #E9EBEC;

    --color-anchor-shade50: #090A0B;
    --color-anchor-shade40: #131517;
    --color-anchor-shade30: #1C2023;
    --color-anchor-shade20: #262B2E;
    --color-anchor-shade10: #2F363A;
    --color-anchor-primary: #394146;
    --color-anchor-tint10: #555C60;
    --color-anchor-tint20: #71777A;
    --color-anchor-tint30: #8D9295;
    --color-anchor-tint40: #AAADAF;
    --color-anchor-tint50: #C6C8CA;
    --color-anchor-tint60: #E2E3E4;

    --color-charcoal-shade50: #090909;
    --color-charcoal-shade40: #131313;
    --color-charcoal-shade30: #1C1C1C;
    --color-charcoal-shade20: #262626;
    --color-charcoal-shade10: #2F2F2F;
    --color-charcoal-primary: #393939;
    --color-charcoal-tint10: #555555;
    --color-charcoal-tint20: #717171;
    --color-charcoal-tint30: #8D8D8D;
    --color-charcoal-tint40: #AAAAAA;
    --color-charcoal-tint50: #C6C6C6;
    --color-charcoal-tint60: #E2E2E2;
}
