:root {
    --color-darkred-50: #130104;
    --color-darkred-100: #270309;
    --color-darkred-200: #3A050E;
    --color-darkred-300: #4E0712;
    --color-darkred-400: #610917;
    --color-darkred-500: #750B1C;
    --color-darkred-600: #8B3341;
    --color-darkred-700: #A35C67;
    --color-darkred-800: #B9858D;
    --color-darkred-900: #D1ADB3;
    --color-darkred-950: #E7D6D9;

    --color-burgundy-50: #1B0607;
    --color-burgundy-100: #360C0E;
    --color-burgundy-200: #521316;
    --color-burgundy-300: #6D191D;
    --color-burgundy-400: #881F24;
    --color-burgundy-500: #A4262C;
    --color-burgundy-600: #B34A4F;
    --color-burgundy-700: #C26E72;
    --color-burgundy-800: #D19295;
    --color-burgundy-900: #E0B6B8;
    --color-burgundy-950: #EFDADB;

    --color-cranberry-50: #200205;
    --color-cranberry-100: #41050A;
    --color-cranberry-200: #62070F;
    --color-cranberry-300: #830A14;
    --color-cranberry-400: #A40C19;
    --color-cranberry-500: #C50F1F;
    --color-cranberry-600: #CE3744;
    --color-cranberry-700: #D85F69;
    --color-cranberry-800: #E2878F;
    --color-cranberry-900: #EBAFB4;
    --color-cranberry-950: #F5D7D9;

    --color-red-50: #220809;
    --color-red-100: #451112;
    --color-red-200: #681A1C;
    --color-red-300: #8B2225;
    --color-red-400: #AE2B2E;
    --color-red-500: #D13438;
    --color-red-600: #D85559;
    --color-red-700: #E0777A;
    --color-red-800: #E8999B;
    --color-red-900: #EFBBBC;
    --color-red-950: #F7DDDD;

    --color-darkorange-50: #240900;
    --color-darkorange-100: #481300;
    --color-darkorange-200: #6D1D00;
    --color-darkorange-300: #912700;
    --color-darkorange-400: #B53100;
    --color-darkorange-500: #DA3B01;
    --color-darkorange-600: #E05B2B;
    --color-darkorange-700: #E67C55;
    --color-darkorange-800: #EC9D80;
    --color-darkorange-900: #F2BDAA;
    --color-darkorange-950: #F8DED4;

    --color-bronze-50: #1B0A01;
    --color-bronze-100: #371503;
    --color-bronze-200: #532004;
    --color-bronze-300: #6F2B06;
    --color-bronze-400: #8B3607;
    --color-bronze-500: #A74109;
    --color-bronze-600: #B56032;
    --color-bronze-700: #C4805B;
    --color-bronze-800: #D39F84;
    --color-bronze-900: #E1BFAD;
    --color-bronze-950: #F0DFD6;

    --color-pumpkin-50: #210D02;
    --color-pumpkin-100: #431A05;
    --color-pumpkin-200: #652808;
    --color-pumpkin-300: #86350A;
    --color-pumpkin-400: #A8420D;
    --color-pumpkin-500: #CA5010;
    --color-pumpkin-600: #D26D37;
    --color-pumpkin-700: #DB8A5F;
    --color-pumpkin-800: #E4A787;
    --color-pumpkin-900: #EDC4AF;
    --color-pumpkin-950: #F6E1D7;

    --color-orange-50: #291001;
    --color-orange-100: #522104;
    --color-orange-200: #7B3106;
    --color-orange-300: #A44208;
    --color-orange-400: #CD5209;
    --color-orange-500: #F7630C;
    --color-orange-600: #F87D34;
    --color-orange-700: #F9975D;
    --color-orange-800: #FBB185;
    --color-orange-900: #FCCBAE;
    --color-orange-950: #FDE5D6;

    --color-peach-50: #2A1700;
    --color-peach-100: #552E00;
    --color-peach-200: #7F4600;
    --color-peach-300: #AA5D00;
    --color-peach-400: #D47400;
    --color-peach-500: #FF8C00;
    --color-peach-600: #FF9F2A;
    --color-peach-700: #FFB255;
    --color-peach-800: #FFC57F;
    --color-peach-900: #FFD8AA;
    --color-peach-950: #FFEBD4;

    --color-marigold-50: #261B00;
    --color-marigold-100: #4E3600;
    --color-marigold-200: #755100;
    --color-marigold-300: #9C6C00;
    --color-marigold-400: #C38700;
    --color-marigold-500: #EAA300;
    --color-marigold-600: #EDB22A;
    --color-marigold-700: #F1C155;
    --color-marigold-800: #F4D17F;
    --color-marigold-900: #F8E0AA;
    --color-marigold-950: #FBEFD4;

    --color-yellow-50: #2A2500;
    --color-yellow-100: #544B00;
    --color-yellow-200: #7E7100;
    --color-yellow-300: #A89700;
    --color-yellow-400: #D2BD00;
    --color-yellow-500: #FDE300;
    --color-yellow-600: #FDE72A;
    --color-yellow-700: #FDEC55;
    --color-yellow-800: #FEF17F;
    --color-yellow-900: #FEF5AA;
    --color-yellow-950: #FEFAD4;

    --color-gold-50: #201900;
    --color-gold-100: #403400;
    --color-gold-200: #604E00;
    --color-gold-300: #806800;
    --color-gold-400: #A08200;
    --color-gold-500: #C19C00;
    --color-gold-600: #CBAC2A;
    --color-gold-700: #D5BD55;
    --color-gold-800: #E0CD7F;
    --color-gold-900: #EADEAA;
    --color-gold-950: #F4EED4;

    --color-brass-50: #191201;
    --color-brass-100: #322503;
    --color-brass-200: #4C3705;
    --color-brass-300: #654A07;
    --color-brass-400: #7E5C09;
    --color-brass-500: #986F0B;
    --color-brass-600: #A98733;
    --color-brass-700: #BA9F5C;
    --color-brass-800: #CBB785;
    --color-brass-900: #DCCFAD;
    --color-brass-950: #EDE7D6;

    --color-brown-50: #170E07;
    --color-brown-100: #2F1C0F;
    --color-brown-200: #472B17;
    --color-brown-300: #5E391E;
    --color-brown-400: #764726;
    --color-brown-500: #8E562E;
    --color-brown-600: #A07250;
    --color-brown-700: #B38E73;
    --color-brown-800: #C6AA96;
    --color-brown-900: #D9C6B9;
    --color-brown-950: #ECE2DC;

    --color-darkbrown-50: #0C0604;
    --color-darkbrown-100: #190D09;
    --color-darkbrown-200: #26140E;
    --color-darkbrown-300: #331B12;
    --color-darkbrown-400: #402217;
    --color-darkbrown-500: #4D291C;
    --color-darkbrown-600: #6A4C41;
    --color-darkbrown-700: #887067;
    --color-darkbrown-800: #A5948D;
    --color-darkbrown-900: #C3B7B3;
    --color-darkbrown-950: #E1DBD9;

    --color-lime-50: #131C06;
    --color-lime-100: #26380C;
    --color-lime-200: #395512;
    --color-lime-300: #4C7118;
    --color-lime-400: #5F8D1E;
    --color-lime-500: #73AA24;
    --color-lime-600: #8AB848;
    --color-lime-700: #A1C66D;
    --color-lime-800: #B9D491;
    --color-lime-900: #D0E2B6;
    --color-lime-950: #E7F0DA;

    --color-forest-50: #0C1500;
    --color-forest-100: #182B01;
    --color-forest-200: #244102;
    --color-forest-300: #305603;
    --color-forest-400: #3C6C04;
    --color-forest-500: #498205;
    --color-forest-600: #67962E;
    --color-forest-700: #85AB58;
    --color-forest-800: #A3C082;
    --color-forest-900: #C2D5AB;
    --color-forest-950: #E0EAD5;

    --color-seafoam-50: #002111;
    --color-seafoam-100: #004423;
    --color-seafoam-200: #006635;
    --color-seafoam-300: #008846;
    --color-seafoam-400: #00A958;
    --color-seafoam-500: #00CC6A;
    --color-seafoam-600: #2AD482;
    --color-seafoam-700: #55DD9B;
    --color-seafoam-800: #7FE5B4;
    --color-seafoam-900: #AAEECD;
    --color-seafoam-950: #D4F6E6;

    --color-lightgreen-50: #031A02;
    --color-lightgreen-100: #063504;
    --color-lightgreen-200: #095007;
    --color-lightgreen-300: #0C6B09;
    --color-lightgreen-400: #0F860B;
    --color-lightgreen-500: #13A10E;
    --color-lightgreen-600: #3AB036;
    --color-lightgreen-700: #61C05E;
    --color-lightgreen-800: #89D086;
    --color-lightgreen-900: #B0DFAE;
    --color-lightgreen-950: #D7EFD6;

    --color-green-50: #021402;
    --color-green-100: #052905;
    --color-green-200: #083E08;
    --color-green-300: #0A520A;
    --color-green-400: #0D670D;
    --color-green-500: #107C10;
    --color-green-600: #379137;
    --color-green-700: #5FA75F;
    --color-green-800: #87BD87;
    --color-green-900: #AFD3AF;
    --color-green-950: #D7E9D7;

    --color-darkgreen-50: #011101;
    --color-darkgreen-100: #032303;
    --color-darkgreen-200: #053505;
    --color-darkgreen-300: #074607;
    --color-darkgreen-400: #095809;
    --color-darkgreen-500: #0B6A0B;
    --color-darkgreen-600: #338233;
    --color-darkgreen-700: #5C9B5C;
    --color-darkgreen-800: #85B485;
    --color-darkgreen-900: #ADCDAD;
    --color-darkgreen-950: #D6E6D6;

    --color-lightteal-50: #001E20;
    --color-lightteal-100: #003D41;
    --color-lightteal-200: #005B61;
    --color-lightteal-300: #007A82;
    --color-lightteal-400: #0098A2;
    --color-lightteal-500: #00B7C3;
    --color-lightteal-600: #2AC3CD;
    --color-lightteal-700: #55CFD7;
    --color-lightteal-800: #7FDBE1;
    --color-lightteal-900: #AAE7EB;
    --color-lightteal-950: #D4F3F5;

    --color-teal-50: #001516;
    --color-teal-100: #012B2D;
    --color-teal-200: #014143;
    --color-teal-300: #02575A;
    --color-teal-400: #026D70;
    --color-teal-500: #038387;
    --color-teal-600: #2D979B;
    --color-teal-700: #57ACAF;
    --color-teal-800: #81C1C3;
    --color-teal-900: #ABD5D7;
    --color-teal-950: #D5EAEB;

    --color-darkteal-50: #001010;
    --color-darkteal-100: #002222;
    --color-darkteal-200: #003333;
    --color-darkteal-300: #004444;
    --color-darkteal-400: #005454;
    --color-darkteal-500: #006666;
    --color-darkteal-600: #2A7F7F;
    --color-darkteal-700: #559999;
    --color-darkteal-800: #7FB2B2;
    --color-darkteal-900: #AACCCC;
    --color-darkteal-950: #D4E5E5;

    --color-cyan-50: #00191F;
    --color-cyan-100: #00333E;
    --color-cyan-200: #004C5E;
    --color-cyan-300: #00667D;
    --color-cyan-400: #007F9C;
    --color-cyan-500: #0099BC;
    --color-cyan-600: #2AAAC7;
    --color-cyan-700: #55BBD2;
    --color-cyan-800: #7FCCDD;
    --color-cyan-900: #AADDE8;
    --color-cyan-950: #D4EEF3;

    --color-steel-50: #000F12;
    --color-steel-100: #001E25;
    --color-steel-200: #002D38;
    --color-steel-300: #003C4A;
    --color-steel-400: #004B5D;
    --color-steel-500: #005B70;
    --color-steel-600: #2A7687;
    --color-steel-700: #55919F;
    --color-steel-800: #7FADB7;
    --color-steel-900: #AAC8CF;
    --color-steel-950: #D4E3E7;

    --color-lightblue-50: #091924;
    --color-lightblue-100: #133249;
    --color-lightblue-200: #1D4B6E;
    --color-lightblue-300: #266493;
    --color-lightblue-400: #307DB8;
    --color-lightblue-500: #3A96DD;
    --color-lightblue-600: #5AA7E2;
    --color-lightblue-700: #7BB9E8;
    --color-lightblue-800: #9CCAEE;
    --color-lightblue-900: #BDDCF3;
    --color-lightblue-950: #DEEDF9;

    --color-blue-50: #001323;
    --color-blue-100: #002846;
    --color-blue-200: #003C6A;
    --color-blue-300: #00508D;
    --color-blue-400: #0063B0;
    --color-blue-500: #0078D4;
    --color-blue-600: #2A8EDB;
    --color-blue-700: #55A5E2;
    --color-blue-800: #7FBBE9;
    --color-blue-900: #AAD2F0;
    --color-blue-950: #D4E8F7;

    --color-royalblue-50: #000C17;
    --color-royalblue-100: #001A2E;
    --color-royalblue-200: #002746;
    --color-royalblue-300: #00345D;
    --color-royalblue-400: #004174;
    --color-royalblue-500: #004E8C;
    --color-royalblue-600: #2A6B9F;
    --color-royalblue-700: #5589B2;
    --color-royalblue-800: #7FA6C5;
    --color-royalblue-900: #AAC4D8;
    --color-royalblue-950: #D4E1EB;

    --color-darkblue-50: #000910;
    --color-darkblue-100: #001322;
    --color-darkblue-200: #001C33;
    --color-darkblue-300: #002644;
    --color-darkblue-400: #002F54;
    --color-darkblue-500: #003966;
    --color-darkblue-600: #2A5A7F;
    --color-darkblue-700: #557B99;
    --color-darkblue-800: #7F9CB2;
    --color-darkblue-900: #AABDCC;
    --color-darkblue-950: #D4DEE5;

    --color-cornflower-50: #0D1127;
    --color-cornflower-100: #1A234F;
    --color-cornflower-200: #273576;
    --color-cornflower-300: #34479E;
    --color-cornflower-400: #4159C5;
    --color-cornflower-500: #4F6BED;
    --color-cornflower-600: #6C83F0;
    --color-cornflower-700: #899CF3;
    --color-cornflower-800: #A7B5F6;
    --color-cornflower-900: #C4CDF9;
    --color-cornflower-950: #E1E6FC;

    --color-navy-50: #00061D;
    --color-navy-100: #000D3C;
    --color-navy-200: #00135A;
    --color-navy-300: #001A78;
    --color-navy-400: #002096;
    --color-navy-500: #0027B4;
    --color-navy-600: #2A4BC0;
    --color-navy-700: #556FCD;
    --color-navy-800: #7F93D9;
    --color-navy-900: #AAB7E6;
    --color-navy-950: #D4DBF2;

    --color-lavender-50: #120F26;
    --color-lavender-100: #25204D;
    --color-lavender-200: #383074;
    --color-lavender-300: #4B409A;
    --color-lavender-400: #5E4FC1;
    --color-lavender-500: #7160E8;
    --color-lavender-600: #887AEB;
    --color-lavender-700: #A095EF;
    --color-lavender-800: #B7AFF3;
    --color-lavender-900: #CFCAF7;
    --color-lavender-950: #E7E4FB;

    --color-purple-50: #0F0718;
    --color-purple-100: #1E0F30;
    --color-purple-200: #2E1748;
    --color-purple-300: #3D1E60;
    --color-purple-400: #4C2678;
    --color-purple-500: #5C2E91;
    --color-purple-600: #7750A3;
    --color-purple-700: #9273B5;
    --color-purple-800: #AD96C8;
    --color-purple-900: #C8B9DA;
    --color-purple-950: #E3DCEC;

    --color-darkpurple-50: #0A0411;
    --color-darkpurple-100: #150924;
    --color-darkpurple-200: #200D36;
    --color-darkpurple-300: #2A1248;
    --color-darkpurple-400: #351659;
    --color-darkpurple-500: #401B6C;
    --color-darkpurple-600: #5F4184;
    --color-darkpurple-700: #7F679D;
    --color-darkpurple-800: #9F8DB5;
    --color-darkpurple-900: #BFB3CE;
    --color-darkpurple-950: #DFD9E6;

    --color-orchid-50: #16101E;
    --color-orchid-100: #2D213D;
    --color-orchid-200: #43325C;
    --color-orchid-300: #5A427A;
    --color-orchid-400: #705399;
    --color-orchid-500: #8764B8;
    --color-orchid-600: #9B7DC3;
    --color-orchid-700: #AF97CF;
    --color-orchid-800: #C3B1DB;
    --color-orchid-900: #D7CBE7;
    --color-orchid-950: #EBE5F3;

    --color-grape-50: #160319;
    --color-grape-100: #2D0732;
    --color-grape-200: #440B4C;
    --color-grape-300: #5A0F65;
    --color-grape-400: #71137E;
    --color-grape-500: #881798;
    --color-grape-600: #9B3DA9;
    --color-grape-700: #AF64BA;
    --color-grape-800: #C38BCB;
    --color-grape-900: #D7B1DC;
    --color-grape-950: #EBD8ED;

    --color-berry-50: #20091D;
    --color-berry-100: #40133B;
    --color-berry-200: #611C59;
    --color-berry-300: #812677;
    --color-berry-400: #A12F95;
    --color-berry-500: #C239B3;
    --color-berry-600: #CC5ABF;
    --color-berry-700: #D67BCC;
    --color-berry-800: #E09CD9;
    --color-berry-900: #EABDE5;
    --color-berry-950: #F4DEF2;

    --color-lilac-50: #1D0B20;
    --color-lilac-100: #3B1740;
    --color-lilac-200: #582361;
    --color-lilac-300: #762E81;
    --color-lilac-400: #933AA1;
    --color-lilac-500: #B146C2;
    --color-lilac-600: #BE64CC;
    --color-lilac-700: #CB83D6;
    --color-lilac-800: #D8A2E0;
    --color-lilac-900: #E5C1EA;
    --color-lilac-950: #F2E0F4;

    --color-pink-50: #25091B;
    --color-pink-100: #4C1337;
    --color-pink-200: #721D53;
    --color-pink-300: #98276E;
    --color-pink-400: #BD318A;
    --color-pink-500: #E43BA6;
    --color-pink-600: #E85BB4;
    --color-pink-700: #ED7CC3;
    --color-pink-800: #F19DD2;
    --color-pink-900: #F6BDE1;
    --color-pink-950: #FADEF0;

    --color-hotpink-50: #250017;
    --color-hotpink-100: #4B002E;
    --color-hotpink-200: #710046;
    --color-hotpink-300: #97005D;
    --color-hotpink-400: #BD0074;
    --color-hotpink-500: #E3008C;
    --color-hotpink-600: #E72A9F;
    --color-hotpink-700: #EC55B2;
    --color-hotpink-800: #F17FC5;
    --color-hotpink-900: #F5AAD8;
    --color-hotpink-950: #FAD4EB;

    --color-magenta-50: #1F0013;
    --color-magenta-100: #3F0027;
    --color-magenta-200: #5F003B;
    --color-magenta-300: #7F004F;
    --color-magenta-400: #9F0063;
    --color-magenta-500: #BF0077;
    --color-magenta-600: #C92A8D;
    --color-magenta-700: #D455A4;
    --color-magenta-800: #DF7FBB;
    --color-magenta-900: #E9AAD1;
    --color-magenta-950: #F4D4E8;

    --color-plum-50: #13000C;
    --color-plum-100: #270019;
    --color-plum-200: #3B0026;
    --color-plum-300: #4F0033;
    --color-plum-400: #630040;
    --color-plum-500: #77004D;
    --color-plum-600: #8D2A6A;
    --color-plum-700: #A45588;
    --color-plum-800: #BB7FA5;
    --color-plum-900: #D1AAC3;
    --color-plum-950: #E8D4E1;

    --color-beige-50: #141313;
    --color-beige-100: #282726;
    --color-beige-200: #3D3A3A;
    --color-beige-300: #514E4D;
    --color-beige-400: #656160;
    --color-beige-500: #7A7574;
    --color-beige-600: #908B8B;
    --color-beige-700: #A6A3A2;
    --color-beige-800: #BCB9B9;
    --color-beige-900: #D2D1D0;
    --color-beige-950: #E8E7E7;

    --color-mink-50: #0F0E0E;
    --color-mink-100: #1F1E1D;
    --color-mink-200: #2E2D2C;
    --color-mink-300: #3E3C3A;
    --color-mink-400: #4D4B49;
    --color-mink-500: #5D5A58;
    --color-mink-600: #787573;
    --color-mink-700: #93918F;
    --color-mink-800: #ADACAB;
    --color-mink-900: #C9C8C7;
    --color-mink-950: #E3E3E3;

    --color-silver-50: #161819;
    --color-silver-100: #2C3133;
    --color-silver-200: #424A4C;
    --color-silver-300: #586366;
    --color-silver-400: #6E7C7F;
    --color-silver-500: #859599;
    --color-silver-600: #99A6AA;
    --color-silver-700: #ADB8BB;
    --color-silver-800: #C2CACC;
    --color-silver-900: #D6DBDD;
    --color-silver-950: #EAEDEE;

    --color-platinum-50: #111414;
    --color-platinum-100: #23282A;
    --color-platinum-200: #343C3F;
    --color-platinum-300: #465054;
    --color-platinum-400: #576468;
    --color-platinum-500: #69797E;
    --color-platinum-600: #818F93;
    --color-platinum-700: #9BA5A9;
    --color-platinum-800: #B3BBBE;
    --color-platinum-900: #CDD2D4;
    --color-platinum-950: #E5E8E9;

    --color-anchor-50: #090A0B;
    --color-anchor-100: #131517;
    --color-anchor-200: #1C2023;
    --color-anchor-300: #262B2E;
    --color-anchor-400: #2F363A;
    --color-anchor-500: #394146;
    --color-anchor-600: #5A6064;
    --color-anchor-700: #7B8083;
    --color-anchor-800: #9C9FA2;
    --color-anchor-900: #BDBFC1;
    --color-anchor-950: #DEDFE0;

    --color-charcoal-50: #090909;
    --color-charcoal-100: #131313;
    --color-charcoal-200: #1C1C1C;
    --color-charcoal-300: #262626;
    --color-charcoal-400: #2F2F2F;
    --color-charcoal-500: #393939;
    --color-charcoal-600: #5A5A5A;
    --color-charcoal-700: #7B7B7B;
    --color-charcoal-800: #9C9C9C;
    --color-charcoal-900: #BDBDBD;
    --color-charcoal-950: #DEDEDE;
}
