@import "color-scheme.css";
@import "border.css";
@import "colors.css";
@import "shared-colors.css";
@import "semantic-colors.css";
@import "curves.css";
@import "spacing.css";
@import "status-colors.css";
@import "typography.css";


html {
}

.page-header {
    --height: 14rem;
    background-color: var(--theme-background);
    border-bottom: 1px solid #393939;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: var(--height);
    justify-content: flex-end;
    width: 100%;
    padding-inline-start: 4rem;
    font-weight: var(--font-weight-light);
}

.page-title {
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.page-tabs {
    background-color: #000;
    color: white;
    position: sticky;
    left: 0;
    right: 0;
    height: 48px;
    top: 0;
    z-index: 100;
}

.page-content {
    position: relative;
    padding-top: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

body {
    background-color: var(--default-background-color);
    color: var(--default-foreground-color);
    font-family: var(--font-family-base);
    font-weight: var(--typography-body1-font-weight);
    font-size: var(--typography-body1-font-size);
    line-height: var(--typography-body1-line-height);
}

* {
    box-sizing: border-box;
}

.neu-display {
    font-family: var(--font-family-base);
    /*font-weight: var(--typography-display-font-weight);*/
    font-size: var(--typography-display-font-size);
    line-height: var(--typography-display-line-height);
    font-weight: var(--font-weight-light);
}

.neu-large-title {
    font-family: var(--font-family-base);
    font-weight: var(--typography-large-title-font-weight);
    font-size: var(--typography-large-title-font-size);
    line-height: var(--typography-large-title-line-height);
}

.neu-title1 {
    font-family: var(--font-family-base);
    font-weight: var(--typography-title1-font-weight);
    font-size: var(--typography-title1-font-size);
    line-height: var(--typography-title1-line-height);
}

.neu-title2 {
    font-family: var(--font-family-base);
    font-weight: var(--typography-title2-font-weight);
    font-size: var(--typography-title2-font-size);
    line-height: var(--typography-title2-line-height);
}

.neu-title3 {
    font-family: var(--font-family-base);
    font-weight: var(--typography-title3-font-weight);
    font-size: var(--typography-title3-font-size);
    line-height: var(--typography-title3-line-height);
}

.neu-subtitle1 {
    font-family: var(--font-family-base);
    font-weight: var(--typography-subtitle1-font-weight);
    font-size: var(--typography-subtitle1-font-size);
    line-height: var(--typography-subtitle1-line-height);
}

.neu-subtitle2-stronger {
    font-family: var(--font-family-base);
    font-weight: var(--typography-subtitle2-stronger-font-weight);
    font-size: var(--typography-subtitle2-stronger-font-size);
    line-height: var(--typography-subtitle2-stronger-line-height);
}

.neu-subtitle2 {
    font-family: var(--font-family-base);
    font-weight: var(--typography-subtitle2-font-weight);
    font-size: var(--typography-subtitle2-font-size);
    line-height: var(--typography-subtitle2-line-height);
}

.neu-body1-stronger {
    font-family: var(--font-family-base);
    font-weight: var(--typography-body1-stronger-font-weight);
    font-size: var(--typography-body1-stronger-font-size);
    line-height: var(--typography-body1-stronger-line-height);
}

.neu-body1-strong {
    font-family: var(--font-family-base);
    font-weight: var(--typography-body1-strong-font-weight);
    font-size: var(--typography-body1-strong-font-size);
    line-height: var(--typography-body1-strong-line-height);
}

.neu-body1 {
    font-family: var(--font-family-base);
    font-weight: var(--typography-body1-font-weight);
    font-size: var(--typography-body1-font-size);
    line-height: var(--typography-body1-line-height);
}

.neu-caption1-strong {
    font-family: var(--font-family-base);
    font-weight: var(--typography-caption1-strong-font-weight);
    font-size: var(--typography-caption1-strong-font-size);
    line-height: var(--typography-caption1-strong-line-height);
}

.neu-caption1 {
    font-family: var(--font-family-base);
    font-weight: var(--typography-caption1-font-weight);
    font-size: var(--typography-caption1-font-size);
    line-height: var(--typography-caption1-line-height);
}

.neu-caption2-strong {
    font-family: var(--font-family-base);
    font-weight: var(--typography-caption2-strong-font-weight);
    font-size: var(--typography-caption2-strong-font-size);
    line-height: var(--typography-caption2-strong-line-height);
}

.neu-caption2 {
    font-family: var(--font-family-base);
    font-weight: var(--typography-caption2-font-weight);
    font-size: var(--typography-caption2-font-size);
    line-height: var(--typography-caption2-line-height);
}

.neu-code, code {
    font-family: var(--font-family-monospace);
}

h1,h2,h3,h4,h5,h6 {
    margin-block: 0.6em;
}
